@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*{
    text-decoration: none !important;
    overflow: hidden;
    color: white;
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: 'Roboto', sans-serif;
}

:root{
    --link-before: rgb(221, 221, 221);
}

body{
    background-color: black;
    background-image: url(/img/cool-background.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color: white;
}

li{
    padding: 3px;
}

a{
    color: var(--link-before);
}

a:hover{
    transition: 150ms;
    color: white;
    text-shadow: 0 0 5px white;
}

.active{
    color: white;
    text-shadow: 0 0 5px white;
}

.paimon{
    width: 8rem;
}

#logo1{
    width: 12rem;
}

.container{
    padding: 35px 100px 20px 100px;
}

.copyright {
    padding: 10px;
    margin: auto 0;
  }

.copyright span{
    color: lightgrey;
}
